@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

img{
    width: 100vw;
}   

a{
    display: block;
    background-color: darkred;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

a:hover{
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.596);
    transition: 0.5s;
}