@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:url(../imagens/frame-iphone.png) no-repeat ;
    width: 310px;
    height: 627px;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width:265px;
    height:467px;
    
}

section#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    border-radius: 50%;
    height: 60px;
    margin: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
}

#redes-sociais img:hover{
   box-shadow: 4px 4px 3px black;
   transition: transform 0.3s;
}

#home:hover{
    border: 2px solid rgb(99, 98, 98);
    transform: translate(-2px, -1px);
}

#github:hover{
    border: 2px solid #237702 ;
    transform: translate(-2px, -1px);
}

#instagram:hover{
    border: 2px solid pink;
    transform: translate(-2px, -1px);
}

#youtube:hover{
    border: 2px solid rgb(255, 0, 0);
    transform: translate(-2px, -1px);
}

#facebook:hover{
    border: 2px solid #00319b;
    transform: translate(-2px, -1px);
}

#twitter:hover{
    border: 2px solid #0069af;
    transform: translate(-2px, -1px);
}